<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    package="com.example.amankumar.lucidme">

    <uses-permission android:name="ANDROID.PERMISSION.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Application.LucidMeApp"
        android:allowBackup="true"
        android:icon="@mipmap/lucidme_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Account.LoginActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".Account.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName=".Account.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Account.LoginActivity" />
        </activity>
        <activity
            android:name=".UI.DreamActivity"
            android:label="@string/title_activity_dream" />
        <activity
            android:name=".UI.DreamDetailActivity"
            android:label="@string/title_activity_dream_detail"
            android:launchMode="singleTop" />
        <activity
            android:name=".UI.HomeActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.SettingsActivity"
            android:parentActivityName=".UI.HomeActivity" />

        <service
            android:name=".Services.WakeUpWithJournalService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".Services.WakeUpWithJournalReceiver" />

        <activity
            android:name=".UI.DreamSignActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".UI.HomeActivity" />
        <activity
            android:name=".UI.ExploreActivity"
            android:parentActivityName=".UI.ChooseWebsiteActivity" />
        <activity
            android:name=".UI.SelectedDreamSignActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".UI.DreamSignActivity" />
        <activity
            android:name=".UI.Chat.FindChatActivity"
            android:parentActivityName=".UI.HomeActivity" />
        <activity
            android:name=".UI.Chat.ChatDetailActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".UI.HomeActivity" />
        <activity
            android:name=".UI.Chat.SelectFriendActivity"
            android:parentActivityName=".UI.DreamDetailActivity" />
        <activity
            android:name=".UI.Chat.ReadSharedDream"
            android:parentActivityName=".UI.Chat.ChatDetailActivity" />
        <activity
            android:name=".UI.AccountActivity"
            android:parentActivityName=".UI.HomeActivity" />
        <activity android:name=".UI.LockActivity" />
        <activity
            android:name=".UI.Search.SearchableActivity"
            android:parentActivityName=".UI.HomeActivity" />
        <activity
            android:name=".UI.AnalysisActivity"
            android:parentActivityName=".UI.HomeActivity" />
        <activity
            android:name=".UI.AboutActivity"
            android:parentActivityName=".UI.HomeActivity" />
        <activity
            android:name=".Update_Password.UpdatePasswordActivity"
            android:parentActivityName=".UI.AccountActivity" />

        <service
            android:name=".Services.MessageNotificationIntentService"
            android:exported="false" />

        <activity
            android:name=".UI.ChooseWebsiteActivity"
            android:parentActivityName=".UI.HomeActivity" />

        <service
            android:name=".Services.MessageNotificationService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>